.DetailMovie { 
    .rowFlex {
        .description { 
            margin: 5rem;
            text-align: justify;
            .e-mail{
                margin: 1rem;
                .circle {
                    display: flex;
                    .container-email {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }
}