.Catologo{ 
    .container-search{
        .label-search{ 
            margin: 0 3rem;
        }
        .input-search{
            border: 2px solid;
            border-radius: 13px;
            width: 20rem;
            height: 2rem;
            margin-right: 2rem;
        }
    }
}